

<div class="internal-pages trans-header sticky booking-page">

    <!-- Internal Page Header -->
    <div class="internal-page-title about-page">
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Rooms and Tariff</li>
        </ol>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>Rooms and <span>Tariff</span></h2>
            </div>
            <div class="main-booking-description">
                Marriott International, Inc. is a leading global lodging company with more than
                6,000 properties in 122 countries and territories, reporting revenues of more
                than $17 billion in fiscal year 2016. Founded by J. Willard and Alice Marriott
                and guided by family leadership for nearly 90 years, the company is headquartered
                outside of Washington, D.C. in Bethesda, Maryland.
            </div>

        </div>
    </div>

    <div class="room-container room-grid clearfix">

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/single_room.jpg" alt="1">
            </div>
            <div class="details">
                <div class="title"><a href="#">Single <span>Room</span></a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quisquam, pariatur, officiis. Cupiditate autem, accusantium,
                    saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$240</span>
                    - Per Night
                </div>
            </div>
        </div>

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/double_room.jpg" alt="2">
            </div>
            <div class="details">
                <div class="title"><a href="#">Double <span>Room</span></a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$350</span>
                    - Per Night
                </div>
            </div>
        </div>

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/one_bedroom_deluxe_suite.jpg" alt="">
            </div>
            <div class="details">
                <div class="title"><a href="#">Deluxe <span>One-bedroom</span> Suite</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$440</span>
                    - Per Night
                </div>
            </div>
        </div>

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/two_bedroom_deluxe_suite.jpg" alt="">
            </div>
            <div class="details">
                <div class="title"><a href="#">Deluxe <span>Two-bedroom</span> Suite</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$480</span>
                    - Per Night
                </div>
            </div>
        </div>

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/royal_suit.jpg" alt="">
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>Royal</span> Suit</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$530</span>
                    - Per Night
                </div>
            </div>
        </div>

        <!-- Room Boxes -->
        <div class="room-box col-xs-12">
            <div class="img-container">
                <img src="~/images/RoomImages/king_suit.jpg" alt="">
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>King</span> Suit</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                    <div>
                        <h4 style="font-weight: bold; font-style:oblique">Room Facilities</h4>
                        <ul style="list-style-type:none">
                            <li>Bathroom with shower and hairdryer (standard rooms)</li>
                            <li>Bathroom with bath tub and hairdryer (apartments)</li>
                            <li>Minibar</li>
                            <li>Direct dial phone</li>
                            <li>Healthy mattress (magniflex)</li>
                            <li>Safe deposit box</li>
                            <li>Air-conditioning</li>
                            <li>Wifi and cable internet free of charge</li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span>$620</span>
                    - Per Night
                </div>
            </div>
        </div>
    </div>


</div>


