.heading-box {
    text-align: center;
    /*margin: 0px 0;*/
}

    .heading-box h2 {
        color: #C5A46D;
        display: inline-block;
        border-bottom: 1px solid #C5A46D;
        padding: 0 20px 20px;
        margin: 20px 0;
        font-size: 40px;
        letter-spacing: -2px;
        position: relative;
        z-index: 1;
    }

        .heading-box h2:before {
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            bottom: -8px;
            margin-left: -8px;
            border: 1px solid #FFFFFF;
            background: #FFFFFF;
            width: 15px;
            height: 15px;
            -webkit-box-shadow: 0 0 0 1px #C5A46D, inset 0 0 0 2px #C5A46D;
            box-shadow: 0 0 0 1px #C5A46D, inset 0 0 0 2px #C5A46D;
        }

        .heading-box h2:after {
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            bottom: 1px;
            margin-left: -46%;
            z-index: -1;
            background: #C5A46D;
            width: 92%;
            height: 1px;
        }

        .heading-box h2 span {
            font-weight: bold;
        }

    .heading-box .subtitle {
        font-size: 16px;
        font-weight: 300;
    }

@media (max-width: 767px) {
    .heading-box h2 {
        font-size: 20px;
    }
}


.heading-box h4 {
    color: #C5A46D;
    display: inline-block;
    border-bottom: 1px solid #C5A46D;
    padding: 0 20px 20px;
    margin: 20px 0;
    font-size: 40px;
    letter-spacing: -2px;
    position: relative;
    z-index: 1;
}

    .heading-box h4:before {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -8px;
        margin-left: -8px;
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        width: 15px;
        height: 15px;
        -webkit-box-shadow: 0 0 0 1px #C5A46D, inset 0 0 0 2px #C5A46D;
        box-shadow: 0 0 0 1px #C5A46D, inset 0 0 0 2px #C5A46D;
    }

    .heading-box h4:after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        bottom: 1px;
        margin-left: -46%;
        z-index: -1;
        background: #C5A46D;
        width: 92%;
        height: 1px;
    }

    .heading-box h4 span {
        font-weight: bold;
    }

.heading-box .subtitle {
    font-size: 16px;
    font-weight: 300;
}

@media (max-width: 767px) {
    .heading-box h4 {
        font-size: 20px;
    }
}

