.room-container {
    /*margin: 80px auto 30px;*/
}

    .room-container .room-box {
        text-align: center;
        margin-bottom: 60px;
    }

        .room-container .room-box .img-container {
            position: relative;
            height: 250px;
            overflow: hidden;
        }

            .room-container .room-box .img-container:before {
                display: block;
                content: "";
                position: absolute;
                left: 10px;
                top: 10px;
                z-index: 1;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                -webkit-box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.3);
                box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.3);
            }

            .room-container .room-box .img-container .check-box-container {
                position: absolute;
                left: 20px;
                top: 20px;
                z-index: 2;
            }

                /*.room-container .room-box .img-container .check-box-container input {
                    display: none;
                }*/

                    .room-container .room-box .img-container .check-box-container input:checked + label span:before {
                        visibility: visible;
                        opacity: 1;
                        filter: alpha(opacity=100);
                        -webkit-transform: rotate(0);
                        -ms-transform: rotate(0);
                        -o-transform: rotate(0);
                        transform: rotate(0);
                    }

                .room-container .room-box .img-container .check-box-container label {
                    font-size: 14px !important;
                    color: #FFFFFF;
                    text-align: left;
                    line-height: 17px !important;
                    margin: 0;
                    width: 120px;
                    cursor: pointer;
                }

                    /*.room-container .room-box .img-container .check-box-container label span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #FFFFFF;
                        background: rgba(255, 255, 255, 0.4);
                        margin-right: 10px;
                        float: left;
                        position: relative;
                    }

                        .room-container .room-box .img-container .check-box-container label span:before {
                            font: 20px "FontAwesome";
                            content: "\f00c";
                            position: absolute;
                            left: 5px;
                            top: 4px;
                            visibility: hidden;
                            color: #C5A46D;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            -webkit-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                            -webkit-transition: all 0.3s ease;
                            -o-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                        }*/

                    .room-container .room-box .img-container .check-box-container label b {
                        font-weight: bold;
                        letter-spacing: 10px;
                    }

            .room-container .room-box .img-container img {
                position: absolute;
                left: 0;
                top: 50%;
                max-width: 100%;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -moz-transform: scale(1.05) translateY(-50%);
                -ms-transform: scale(1.05) translateY(-50%);
                -webkit-transform: scale(1.05) translateY(-50%);
                transform: scale(1.05) translateY(-50%);
            }

            .room-container .room-box .img-container a.btn, .room-container .room-box .img-container aside.sidebar .widget.widget_tag_cloud .tagcloud a, aside.sidebar .widget.widget_tag_cloud .tagcloud .room-container .room-box .img-container a {
                position: absolute;
                left: 50%;
                top: 20%;
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -moz-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }

        .room-container .room-box .details {
            border-bottom: 1px solid #C5A46D;
            position: relative;
            padding: 40px 0 50px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            .room-container .room-box .details .title {
                color: #C5A46D;
                font-size: 26px;
                margin-bottom: 30px;
                letter-spacing: -2px;
            }

                .room-container .room-box .details .title a {
                    color: #C5A46D;
                }

                .room-container .room-box .details .title span {
                    font-weight: bold;
                }

            .room-container .room-box .details .desc {
                line-height: 30px;
                max-width: 85%;
                margin: 0 auto;
            }

            .room-container .room-box .details .price {
                padding: 0 20px;
                border: 1px solid #C5A46D;
                background: #FFFFFF;
                font-family: "Lobster", Arial, Helvetica, sans-serif;
                position: absolute;
                left: 50%;
                bottom: -23px;
                color: #C5A46D;
                height: 45px;
                line-height: 45px;
                white-space: nowrap;
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

                .room-container .room-box .details .price span {
                    vertical-align: middle;
                    font-size: 30px;
                }

        .room-container .room-box:hover .img-container:before {
            background: rgba(51, 51, 51, 0.6);
        }

        .room-container .room-box:hover .img-container img {
            -moz-transform: scale(1) translateY(-50%);
            -ms-transform: scale(1) translateY(-50%);
            -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
        }

        .room-container .room-box:hover .img-container a.btn, .room-container .room-box:hover .img-container aside.sidebar .widget.widget_tag_cloud .tagcloud a, aside.sidebar .widget.widget_tag_cloud .tagcloud .room-container .room-box:hover .img-container a {
            top: 50%;
            visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .room-container .room-box:hover .details {
            background-color: #f0f2f2;
            border-color: #333333;
            color: slategrey;
        }

    .room-container.room-list .room-box .details {
        padding: 30px 25px 30px 30px;
        text-align: left;
        height: 250px;
    }

        .room-container.room-list .room-box .details .price {
            left: auto;
            right: 0;
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .room-container.room-list .room-box .details .desc {
            max-width: 100%;
        }

            .room-container.room-list .room-box .details .desc .facilities {
                margin: 25px 0 0;
            }

                .room-container.room-list .room-box .details .desc .facilities li {
                    width: 32%;
                    padding: 0;
                }

                    .room-container.room-list .room-box .details .desc .facilities li i {
                        color: #C5A46D;
                        margin-right: 15px;
                    }

    .room-container.room-masonry {
        padding: 0;
    }

        .room-container.room-masonry .room-box .img-container {
            height: auto;
        }

            .room-container.room-masonry .room-box .img-container img {
                position: initial;
                left: auto;
                top: auto;
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

        .room-container.room-masonry .room-box .details .price {
            bottom: -50px;
            visibility: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .room-container.room-masonry .room-box:hover .details .price {
            bottom: -23px;
            visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100);
        }

@media (max-width: 1200px) {
    .room-container .room-box .img-container {
        height: auto;
        padding: 0;
    }

        .room-container .room-box .img-container img {
            position: initial;
            left: auto;
            top: auto;
            width: 100%;
            -moz-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
        }

    .room-container .room-box:hover .img-container img {
        -moz-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .room-container.room-list .room-box .details {
        height: auto;
    }

        .room-container.room-list .room-box .details .desc .facilities li {
            width: 49%;
        }
}

@media (max-width: 992px) {
    .room-container.room-list .room-box .img-container, .room-container.room-list .room-box .details {
        float: none;
        width: 100%;
    }

    .room-container.room-list .room-box .img-container {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .room-container .room-box {
        float: none;
        width: 100%;
    }

    .room-container.room-masonry .room-box {
        float: left;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .room-container.room-masonry .room-box {
        float: none;
        width: 100%;
    }
}

.gallery-container.gallery-masonry {
    margin-bottom: 50px;
}

    .gallery-container.gallery-masonry .sort-section {
        margin: 50px 0;
    }

.gallery-container.gallery-grid {
    margin-bottom: 50px;
}

    .gallery-container.gallery-grid .sort-section {
        margin: 50px 0;
    }

#fullscreen-slider {
    max-height: calc(100vh - 30px);
    overflow: hidden;
}

#special-dishes {
    background: #FFFFFF;
}

    #special-dishes .room-boxes:before {
        display: none;
    }

    #special-dishes .room-boxes .room-details .btn, #special-dishes .room-boxes .room-details aside.sidebar .widget.widget_tag_cloud .tagcloud a, aside.sidebar .widget.widget_tag_cloud .tagcloud #special-dishes .room-boxes .room-details a {
        font: 1.3em "Lobster", Arial, Helvetica, sans-serif;
    }


   