

<div class="internal-pages trans-header sticky booking-page">

    <!-- Internal Page Header -->
    <div class="internal-page-title about-page">
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>About <span>Us</span></h2>
            </div>
            <div class="main-booking-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

        </div>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>Our <span>Brands</span></h2>
            </div>
            <div class="main-booking-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur alias minus,
                commodi eligendi reprehenderit ea illum placeat recusandae architecto magnam aspernatur
                doloremque, odio maxime ducimus voluptates eveniet cumque assumenda delectus? Quisquam
                nobis, eligendi. Earum dolore culpa tenetur qui at, voluptas repellendus quisquam minima
                incidunt. Asperiores.
            </div>

        </div>
    </div>
</div>


