@{
    ViewData["Title"] = "Contact";
}
<div class="internal-pages trans-header sticky booking-page">

    <!-- Internal Page Header -->
    <div class="internal-page-title about-page">
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Contact Us</li>
        </ol>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>Contact <span>Us</span></h2>
            </div>
            <div class="main-booking-description">
                <address>
                    88 Lincoln Street<br />
                    Boston, MA 88888-6399<br />
                    <abbr title="Phone">P:</abbr>
                    888.888.8888
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>

        </div>
    </div>

   
</div>
